doctype xml
rss(version="2.0" encoding="UTF-8" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:atom='http://www.w3.org/2005/Atom')
  channel
    title= site.title
    link= site.link
    each feed in page.deps
      item
        guid= `${site.link}${feed.path}`
        title= feed.title
        a(href=`${site.link}${feed.path}`)
        updated= feed.date.toLocaleString()